body
{
    background-color: silver; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}

h1
{
    text-align:left;
}

h6
{
    border-style:dotted;
    border-color:grey;
    border-width:2px;
    width:300px;
}

h5
{
    margin-left:20px;
}

p
{
    margin-left:20px;
}

.input
{
    margin-left:20px;
}

.news
{
    border-style:double;
    border-color:grey;
    margin-left:20px;
    width:310px;
}

.tableaux
{
    display:inline-block;
    vertical-align:top;
}

nav
{
    margin-left:20px;
    display: inline-block;
    border-style: double;
    border-color:grey;
    width: 240px;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
}

/*
section
{
    display: inline-block;    
    border-style: double;
    border-color:grey;
    width: 260px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
}
*/


/* 
h1 -> Aligner le texte sur le centre de la ligne
h3 -> Aligner le texte sur le centre de la ligne + faire en sorte que le texte soit écrit en blanc sur font noir
.news -> 
a -> Utiliser pour afficher les "liens" (pour afficher les commentaires ou pour revenir en arrière) en bleu