body
{
    background-color: silver; 
    color: maroon; 
	background-image:url(picture5.jpg);
	background-position:center center;
	background-size: cover;
	height: 932px;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

h1
{
	text-decoration: underline;
}

h4
{
	width:590px;
	background-color: rgba(99, 151, 222, 1); 
	border-style:groove;
    border-color:white;
	border-width:4px;
}

h5
{
	width:350px;
	background-color: rgba(226, 206, 112, 1); 
	border-style:groove;
	font-size:17px;
}

h6
{
    background-color: rgba(99, 151, 222, 1); 
    border-style:dotted;
    border-color:red;
    border-width:2px;
    width:300px;
    font-size:16px;
}

.news
{
    border-style:double;
    border-color:white;
    border-width:6px;
    width:350px;
    background-color: rgba(99, 151, 222, 1); 
    padding-left: 0px;
}

.write
{
    font-size:20px;
    color: maroon;
}

.under
{
    text-decoration: underline;
    font-weight: bold;    
}

.box
{
	width:590px;
	border-style:double;
	border-style:groove;
    border-color:white;
	border-width:4px;
    background-color: rgba(99, 151, 222, 1); 
}